@media screen and (min-width:1920px)

{


}
@media screen and (max-width:1560px) {
	.menupanel ul li a
	{    
		padding:15px 19px;
	}
}

@media screen and (max-width:1340px)

{
	.nivo-caption{font-size:40px;}
	.header_panel_right_top_inner p{width:100% !important; margin:0 0 10px 0 !important; }

.header_panel_right_top_inner input{width:100% !important;padding:8px 10px;}
.header_panel_right_top_inner select{width:100% !important;}

.header_submitbox{ width:100% !important; margin:19px 0 0 0 }
	
}

@media screen and (max-width:1280px)

{
.menupanel ul li a
{    
	padding:15px 9px;
}

}

@media screen and (max-width:1200px)

{
	.slider_panel_summer{ padding:15px; }
	.slider_panel_summer h2,.nivo-caption{font-size:29px;}
	
.header_panel_right_top_inner p{width:45%; }

.header_panel_right_top_inner input{width:50%;}
.header_panel_right_top_inner select{width:50%;}

.header_submitbox{ width:96% !important; margin:7% 0 0 0, }
.place_info .title1 {
	font-size: 28px;
}

}

@media screen and (max-width:1080px)

{
.menupanel ul li a
{    
	padding:15px 6px;
	font-size:11px;
}
}

@media screen and (max-width:999px)

{

.header_panel_left img {width:90% }

	.slider_panel_summer{ padding:10px; }
	.slider_panel_summer h2, .nivo-caption {font-size:25px;width: 100%;left: 0;}
	.slider_link {top: 60%;}
	
.slider_panel_summer_panel{margin:380px 0 0 0;}



.meeting_panel_inner_left h2{font-size:15px; margin:20px 0 8px;}

.meeting_panel_inner_left h2 span{font-size:30px}
.place_info {
	margin-top: 30px;
}
.room_margin:nth-child(even) {
	/*margin-bottom: 0px;*/
}

}
@media screen and (max-width:990px) {
	.room_margin img.room_img, .offer img,.each_blog img {
		min-width: 100%;
	}
}



@media screen and (max-width:950px)

{
	
.header_panel_right_top_inner p{font-size:11px;}
	
}

@media screen and (max-width:900px)

{
	
	.header_panel_left{width:100%;  background-image:url(../images/logo-bg.jpg); background-repeat:repeat-x; background-size:5px 100%; }
	
	.header_panel_left img{max-width:100px; margin-bottom:10px;}
	
	.header_panel_right{width:100% }
	
}

@media screen and (max-width:850px)

{

}

@media screen and (max-width:800px)

{
	.no_padding {
		padding-left: 15px;
		padding-right: 15px;
	}

}


@media screen and (max-width:767px)

{
.navbar-nav{background-color:#efece2; width:240px; padding:5px 0px;}
.navbar-nav > li{float:left; width:100%; text-align:left;}

.navbar{position:absolute; right:15px; top:10px;}

.menupanel ul li a
{    
	padding:5px 6px;
	font-size:11px;
}

.slider_panel_summer_panel{position:relative; float:left; margin:5px 0;}


.drop_scroll{margin:-200px 5% 0 0; }

.meeting_panel_inner_left{width:100%;}

.meeting_panel_inner_right{width:100%; padding:30px 0 0 0;}

.testimonial_text_area h3{font-size:20px; padding:40px 40px 0 40px;}

.footer_bottom_bottom a{display:inline-block; padding:0px 5px; color:#7d7c7c;}
.social_links a {display: block;}

#on_off_div{display:none;}

.toggle_drp_arrow_box{display:block}
.itemblock-special-offers .offer a figure figcaption h4 {
	font-size: 13px;
    padding-bottom: 5px;
}
#sresultwrapper .img-polaroid {
    width: 100%;
    margin-bottom: 15px;
}

}



@media screen and (max-width:700px)

{
}

@media screen and (max-width:667px)

{
.welcome_text_area h1
{
	font-size:35px;
}

.drop_scroll{margin:-220px 5% 0 0; }	
}

@media screen and (max-width:600px)
{
	.slider_link {
	    left: 75%;
	}
	.slider_panel_summer a, .slider_link a {
		padding: 5px 0px;
    	width: 100px;
	}


}

@media screen and (max-width:550px)

{
	.acc_price {
		display: inline-block;
	    position: relative;
	    right: 0;
	}	
.footer_extreme_bottom{text-align:center;}	
.footer_extreme_bottom span{width:100%; text-align:center;}
}


@media screen and (max-width:480px)

{
	form.Book-now-room {
		float: none;
	}
	.contact_text h3, .title1, .widget_title {
		font-size: 23px;
	}
}


@media screen and (max-width:400px)

{
}

@media screen and (max-width:350px)

{
.drop_scroll {
    margin: -250px 5% 0 0;
}
}