*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

a
{outline-style:none !important;text-decoration:none;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}
a:hover
{
	text-decoration:none !important;
}

body {
	overflow-x:hidden;
	font-family:'Open Sans', sans-serif;
	min-height:100% !important;
	
	background-repeat:repeat;
	font-size: 15px;
}


h1 ,h2 ,h3 ,h4 ,h5 ,h6
{
	font-weight:100;
}

/*@font-face{
	font-family:'Open Sans', sans-serif;font-weight: 300;
	src:url('../fonts/OpenSansLight.eot');
	src:url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
	url('../fonts/OpenSansLight.woff2') format('woff2'),
	url('../fonts/OpenSansLight.ttf') format('truetype'),
	url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face
{
	font-family:'Open Sans', sans-serif;
	src:url('../fonts/opensansregular.eot');
	src:url('../fonts/opensansregular.eot') format('embedded-opentype'),
	url('../fonts/opensansregular.woff2') format('woff2'),
	url('../fonts/opensansregular.ttf') format('truetype'),
	url('../fonts/opensansregular.svg#opensansregular') format('svg');
}


@font-face
{
	font-family:'Open Sans', sans-serif;font-weight: 600;
	src:url('../fonts/OpenSansSemibold.eot');
	src:url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
	url('../fonts/OpenSansSemibold.woff2') format('woff2'),
	url('../fonts/OpenSansSemibold.ttf') format('truetype'),
	url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family:'Open Sans', sans-serif;font-weight: 800;
    src: url('../fonts/OpenSansExtraBold.eot');
    src: url('../fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansExtraBold.woff2') format('woff2'),
         url('../fonts/OpenSansExtraBold.woff') format('woff'),
         url('../fonts/OpenSansExtraBold.ttf') format('truetype'),
         url('../fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato.eot');
	src: url('../fonts/Lato.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato.woff') format('woff'),
		url('../fonts/Lato.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
*/


.navbar{border:0px solid transparent !important;margin-top:0px; padding:0 !important; float:left; min-height:inherit; margin-bottom:0px }


.menupanel{text-align:left; float:right;margin:0px 0 0 0; font-family:'Open Sans', sans-serif;font-weight: 600; }


.menupanel ul li:last-child{border-right:none;}

.menupanel ul li a
{    
	font-size:13px; 
	color:#000; 
	margin:0 0px; 
	-webkit-transition: all .5s ;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
	transition-timing-function:ease-out;
	font-weight:600;
	text-transform:uppercase;
	padding:15px 20px;
	padding:15px 33px;
	border-right:1px solid #CCC;
	text-align: center;
}

.menupanel ul li:last-child a{border:none;}

.menupanel ul li a:hover{ color:#bb9754; }

.submenu-colorblack li a{color:#fff !important;}

.active a, .current-menu-item a{color:#bb9754 !important;}

.navbar-toggle{background-image:url(../images/small_nav_icon.png); background-position:center; margin:auto; border-radius:0px;}

.dropdown-menu{width:100%; padding:0px !important; margin:0px 0 0 0!important;border:none; background-color:#efece2; }

.dropdown-menu > li > a{padding:6px 3% !important; text-align:left;  text-transform:none; margin:0 0 1px 0!important; font-size:16px !important; width:100%; white-space: normal; font-size:14px !important;}

.dropdown-menu ul li a:hover{background-color:#f5f1e6 !important;}


.nav a:hover{background-color:#f5f1e6;}


.navbar-header{text-align:right; width:100%;}

.navbar-toggle {float:none;}
.navbar-nav
{
	float:right !important;
	z-index:99999;
}
.nav > li > a:hover, .nav > li > a:focus
{
	background-color:transparent !important;
}
a:focus
{
	text-decoration:none !important;
}


.welcome_contanear
{
	display:block;
	float:left;
	width:100%;
	background:url(../images/welcome_bg.jpg) repeat-x;
	background-size:auto 100%;
	min-height:482px;
	padding:45px 0;
}
.welcome_text_area
{
	display:block;
	float:left;
	width:100%;
	text-align:center;
}
.welcome_text_area h2
{
	color:#FFF;
	font-size:15px;
    font-family: 'opensansregular';	
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	text-transform:uppercase;
	margin-top:15px;	
}
.welcome_text_area h1
{
	color:#dfbf3e;
	font-size:55px;
	font-family: 'Lato';
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	text-transform:uppercase;
	margin-top:-10px;
}
.welcome_text_area p
{
	font-size:15px;
	color:#FFF;
	margin-top:40px;
	width: 62%;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
}
.more_about_but
{
	display:inline-block;
	width:224px;
	height:46px;
	border:2px solid #FFF;
	font-size:13px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	font-family:'Open Sans', sans-serif;font-weight: 600;
	line-height:40px;
	text-align:center;
	margin-top:30px;
	color:#FFF;
	text-transform:uppercase;
}
.more_about_but:hover
{
	background:#FFF;
	color:#000;
}

.rooms_contanear
{
	display:block;
	float:left;
	width:100%;
	background-size:auto 100%;
	padding:80px 0;
	background:#f5f5f5;
}
.rooms_title_area
{
	display:block;
	float:left;
	width:100%;
	text-align:center;
}

.rooms_title_area h2
{
	color:#000;
	font-size:15px;
    font-family: 'opensansregular';	
	text-transform:uppercase;
	margin-top:15px;	
}
.rooms_title_area h1
{
	color:#c9a205;
	font-size:55px;
	font-family: 'Lato';
	text-transform:uppercase;
}
.rooms_title_area p
{
	font-size:15px;
	color:#000;
	margin-top:30px;
}

.rooms_boxes_main_area
{
	display:block;
	float:left;
	width:100%;
	margin-top:40px;
}
.rooms_box1
{
	display:block;
	float:left;
	width:100%;
	border:3px solid #F5F5F5;
	-webkit-transition: all .5s ;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
	transition-timing-function:ease-out;	
}
.rooms_box1_img_and_but_area
{
	display:block;
	float:left;
	width:100%;
	position:relative;
}
.rooms_box1_img_area
{
	display:block;
	float:left;
	width:100%;
	position:relative;
	z-index:1;
}
.rooms_box1_img_area img
{
	float:left;
	width:100%;
}
.rooms_box1_but_area
{
	display:none;
	float:left;
	width:100%;
	position:absolute;
	z-index:2;
	background-position:bottom center;
}
.rooms_details_but
{
	display:block;
	float:right;
	width:134px;
	height:38px;
	border:2px solid #FFF;
	text-align:center;
	line-height:38px;
	color:#FFF;
	font-size:13px;
    font-family:'Open Sans', sans-serif;font-weight: 600;
	text-transform:uppercase;
	position:absolute;
	bottom:80px;
	right:15px;
}
.rooms_details_but:hover
{
	background:#FFF;
	color:#000;
}
.rooms_book_but 
{
	display:block;
	float:right;
	width:134px;
	height:38px;
	border:2px solid #c9a205;
	text-align:center;
	line-height:38px;
	color:#c9a205;
	font-size:13px;
    font-family:'Open Sans', sans-serif;font-weight: 600;
	text-transform:uppercase;
	clear:right;
	position:absolute;
	bottom:30px;
	right:15px;
}
.rooms_book_but:hover
{
	background:#FFF;
	color:#000;
	border:2px solid #FFF;	

}
.rooms_book_but img
{
	vertical-align:middle;
	margin-left:-60px;
	margin-right:10px;
}
.rooms_book_text_area
{
	display:block;
	float:left;
	width:100%;
	background:url(../images/rooms_box_text_bg.jpg) repeat;
	padding:15px 20px;
}
.rooms_book_text_area h2
{
	font-size:23px;
	text-transform:uppercase;
    font-family: 'Lato';
	color:#c9a205;	
}
.rooms_book_text_area p
{
	font-size:14px;
    font-family:'Open Sans', sans-serif;font-weight: 600;
	line-height:25px;
	margin-top:15px;
	color:#000;	
}
.rooms_box1:hover
{
	border:3px solid #C9A205;	
}
.rooms_box1:hover img.hover_arrow{
	position: absolute;
    bottom: 41px;
    right: 129px;
}

.rooms_box1 .rooms_box1_but_area
{
	-webkit-transition: all .5s ;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
	transition-timing-function:ease-out;	
}
.rooms_box1:hover .rooms_box1_but_area
{
	background:url(../images/imagebox_shadow.png)bottom center repeat-x;
	display:block;
	top:0;
	bottom:0;
	left:0;
	right:0;	
}



.header_panel{float:left; width:100%; background-image:url(../images/logo-bg.jpg); background-repeat:repeat-x; background-size:5px 100%; position:relative; z-index:9998}

.header_panel_left{width:11%; float:left; text-align:center;}

.header_panel_left img{padding:15px 0 20px 0;}

.header_panel_right{width:89%; float:right; background-color:#bb9754;}

.header_panel_right_top{float:left; width:100%; padding:21px 0;}

.header_panel_right_top_inner{font-family:'Open Sans', sans-serif;font-weight: 600; font-size:13px; text-transform:uppercase; padding-top:5px; padding-bottom:5px;}

.header_panel_right_top_inner p{display:inline-block; vertical-align:middle; width:45%; margin:0 0 0 0 !important; font-size:12px;font-family: 'Lato'; }
.header_panel_right_top_inner.rt_select p {width: 33%;}
.header_panel_right_top_inner.gender_count p{width: 33%;}

.header_panel_right_top_inner input{display:inline-block; vertical-align:middle; width:53% !important; background-color:#FFF; border:none; padding:8px 10px; color:#000; text-transform:none;}

.header_panel_right_top_inner select{display:inline-block; vertical-align:middle; width:53%; background-color:#FFF; border:none; padding:8px 10px; color:#000; text-transform:none; background-image:url(../images/drop-arrow.png); background-position:90% center; -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background-repeat:no-repeat;}
.header_panel_right_top_inner.rt_select select {width: 65%}
.header_panel_right_top_inner.gender_count select{width: 65%}


.inputtextbox{background-image:url(../images/calender-icon.png); background-repeat:no-repeat; background-position:90% center}

.header_submitbox{float:left; width:50% !important; background-color:#313131 !important; color:#d8b132 !important; padding:8px 0; text-align:center; font-family:'Open Sans', sans-serif;font-weight: 600; -webkit-transition: all .5s ;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
	transition-timing-function:ease-out;}

.header_submitbox:hover{background-color:#000 !important; color:#FFF !important;}

.header_panel_right_bottom{float:left; width:100%; background-image:url(../images/menu-bg.jpg); background-size:100% 100%;}



.slider_panel{float:left; width:100%; position:relative; z-index:10;}



.slider_panel_summer_panel{width:100%; position:absolute; margin:300px 0 0 0; z-index:99;}

.slider_panel_summer{width:100%; background-color:rgba(0,0,0,0.5); color:#FFF;  padding:25px; text-align:center; }

.slider_panel_summer h2{font-size:55px; text-shadow:2px 2px 5px rgba(0,0,0,.8); text-transform:uppercase; letter-spacing:7px;}

.slider_panel_summer a,.slider_link a{width:167px; text-align:center; font-size:15px; text-transform:uppercase; border:2px solid #FFF; padding:12px 0; display:inline-block; color:#FFF !important; font-family:'Open Sans', sans-serif !important;font-weight: 600; margin:20px 0 0 0; }

.slider_panel_summer a:hover, .slider_link a:hover{background-color:#FFF; color:#000 !important;}

.drop_scroll a{float:right; margin:-40px 5% 0 0; color:#FFF; text-transform:uppercase; text-shadow:2px 2px 5px rgba(0,0,0,.8);position:relative; z-index:99}


.meeting_panel{float:left; width:100%; padding:40px 0;}

.meeting_panel_inner{float:left; width:100%; background-image:url(../images/rooms_box_text_bg.jpg); background-repeat:repeat; margin:25px 0;  font-family:'Open Sans', sans-serif;font-weight: 600; font-size:15px; text-align:center;}

.meeting_panel_inner img{-webkit-transition: all .5s ;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
	transition-timing-function:ease-out;}
	
	
.meeting_panel_inner:hover img{ -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}

.meeting_panel_inner_left{width:50%; float:left; text-align:center;}

.meeting_panel_inner_left h2{font-size:15px; text-transform:uppercase; display:inline-block; margin:70px 0 40px; width:100%;}

.meeting_panel_inner_left h2 span{font-size:48px; font-family:'Open Sans', sans-serif;font-weight: 600; color:#c9a205}


.meeting_panel_inner_left p{width:71%; display:inline-block; padding:0 15px}

.meeting_panel_inner_left a, .btn-main, .read_more ,.btn-search{width:167px; text-align:center; font-size:15px; text-transform:uppercase; border:2px solid #c9a205; padding:12px 0; display:inline-block; color:#c9a205 !important; font-family:'Open Sans', sans-serif !important;font-weight: 600; margin:20px 0 0 0;}
.book_special .read_more {
	background: #fff;
    width: 150px;
    padding: 5px;
}
.meeting_panel_inner_left a:hover, .btn-main:hover, .read_more:hover{background-color:#c9a205; color:#000 !important;}

.meeting_panel_inner_right{width:50%; float:left; text-align:center;}

.meeting_panel_inner_right img{float:left; width:100%; box-shadow:0 0 7px rgba(0,0,0,.10)}


.meeting_panel_inner_right2{float:left;}

.meeting_panel_inner_left2{float:right;}

.testimonial_contanear
{
	display:block;
	float:left;
	width:100%;
	background:url(../images/welcome_bg.jpg) repeat-x;
	background-size:auto 100%;
	padding:45px 0;
	text-align:center;
}


.testimonial_contanear h2{font-family:'Open Sans', sans-serif;font-weight: 600; color:#FFF; display:inline-block; width:100%; font-size:15px;  text-transform:uppercase;}

.testimonial_contanear h2 span{font-size:50px; color:#dfbf3e;}

.testimonial_text_area h3{font-family:'Open Sans', sans-serif;font-weight: 600; color:#FFF; font-size:40px; text-transform:uppercase; display:inline-block; width:100%; max-width:700px; padding:80px 80px 0 80px; background-image:url(../images/inverted-comma1.png), url(../images/inverted-comma2.png); background-repeat:no-repeat; background-position:5% top, 90% top;}

.testimonial_text_area p{display:inline-block; width:100%; max-width:700px; text-transform:none; padding:0 20px}

.testimonial_text_area p span{text-transform:uppercase; display:inline-block; width:100%; margin:20px 0;}


.testimonial_text_bottom{display:inline-block; width:100%; text-align:center;}

.testimonial_text_bottom a{width:167px; text-align:center; font-size:15px; text-transform:uppercase; border:2px solid #FFF; padding:12px 0; display:inline-block; color:#c9a205 !important; font-family:'Open Sans', sans-serif !important;font-weight: 600; margin:20px 0 0 0;}

.testimonial_text_bottom a:hover{background-color:#c9a205; color:#000 !important;}

.footer_panel{float:left; width:100%; background-image:url(../images/rooms_box_text_bg.jpg); background-repeat:repeat; text-align:center; font-family:'Open Sans', sans-serif;font-weight: 600; font-size:15px;}

.footer_panel_top{float:left; width:100%; background-image:url(../images/shadow.png); background-position:center bottom; background-repeat:no-repeat; padding:50px 0;}


.footer_panel_top img{margin:0 0 20px 0;}


.footer_panel_top p{width:100%; display:inline-block; padding:5px 0;}

.footer_panel_top p span{text-transform:uppercase;}

.footer_bottom{float:left; width:100%; background-color:#FFF;}

.footer_bottom_top{float:left; width:100%; text-align:center; border-bottom:1px solid #CCC}

.footer_bottom_top a{display:inline-block; font-size:13px; text-transform:uppercase; padding:15px 10px; color:#9e8528}

.footer_bottom_top a:hover{color:#000;}

.footer_bottom_top_active{color:#000 !important;}


.footer_bottom_bottom{float:left; width:100%; text-align:center; padding:10px 0;}

.footer_bottom_bottom a{display:inline-block; padding:5px; color:#7d7c7c;}

.footer_bottom_bottom a:hover{color:#000;}

.footer_extreme_bottom{float:left; width:100%; padding:15px 0; text-transform:uppercase; font-family:'Open Sans', sans-serif;font-weight: 600; font-size:13px; color:#bb9754; text-align:left;}

.footer_extreme_bottom span{float:right;}


.toggle_drp_arrow_box{position:absolute; right:15px; top:55px; text-align:center; width:43px; display:none; z-index:9999}

.toggle_drp_arrow_box img{width:23px;}










