.topbanner {
	background: url(../images/top_banner.jpg) 50% 138%;
    height: 90px;
    background-size: cover;
}
.section.about_us, .section.terms_condition {
	background: #fff;
}
.section {
	padding: 30px 0px;
    float: left;
    width: 100%;
    background: #f5f5f5;
}
.section.reviews {
	background: #fff;
}
.no_padding {
	padding: 0;
}
.nav>li {
	/*min-width: 150px;*/
}
.page-title-wrapper {
	position: relative;
    text-align: center;
    background-image: url(../images/rooms_box_text_bg.jpg);
    color: #c9a205;
    text-transform: uppercase;
    min-height: 150px;
    float: left;
    width: 100%
}
.banner-wrapper {
	padding: 30px;
}
.banner-wrapper h2 {
	font-family: 'Lato'; 
}
/*home room*/
.img_border {
	border: 32px solid transparent;
    -webkit-border-image: url(../images/wood-fram.png) 30 round;
    -o-border-image: url(../images/wood-fram.png) 30 round;
    border-image: url(../images/wood-fram.png) 30 round;
}
.inner_img {
	position: relative;
    margin:-17px -16px;
    overflow: hidden;
}
.inner_img img {
	width: 100%;
    max-width: 100%;
}
/*form*/
.contact_text h3, .title1, .widget_title {
    position: relative;
    margin-bottom: 20px;
    /*letter-spacing: 0.1em;*/
    padding-bottom: 20px;
    margin-top: 0;
    color: #c9a205;
    font-family: 'Lato';
}

.contact_text h3:after, .title1:after, .widget_title:after {
	border-bottom: 2px solid;
    border-color: #0f2453;
    top: 50px;
    content: "";
    left: 0;
    position: absolute;
    width: 100px;
}
label {
    font-size: 1.2em;
    letter-spacing: 0.072em;
    font-weight: 500;
    /*margin-bottom: 15px;*/
    color: #444444;
    /*width: 100%;*/
}
.contact_info input:not([type="submit"]), .contact_info textarea {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    color: #444444;
}
.wpcf7-form-control {
    height: 48px;
    font-size: 1.0rem;
    color: #444444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}

/*single room*/
.content_wrapper, .amenities_items_wrapper, .amenities_short_info, .gal_content_wrapper {
	min-height: 400px;
	padding: 6%;
}
.post-type-archive-room .content_wrapper {
	min-height: 480px;
}
.content_wrapper, .amenities_items_wrapper {	
	/*border:1px solid #f5f5f5;*/
    background: #fff;
}
.amenities_items_wrapper {
	min-height: 400px;
	padding: 10%;
}
.amenities_short_info {
	background-image: url(../images/rooms_box_text_bg.jpg);
}
.amenities_items_wrapper .row {
    margin-bottom: 15px;
}
.room_info {
    /*font-size: 17px;*/
    line-height: 30px;
}
.item-text {
    /*color: #333;*/
    font-size: 1em;
    line-height: 1.5rem;
    font-weight: 600;
}
.gal_content_wrapper {
    background: #f3efdf;
}
 .gal_wrapper .nivo-caption, .gal_wrapper .nivo-controlNav {
    display: none !important;
}
.gal_wrapper .nivo-directionNav .nivo-prevNav, .gal_wrapper .nivo-directionNav .nivo-nextNav {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    color: #dfbf3e;
}
.acc_price {
    position: absolute;
    top: 12%;
    right: 10%;
    background: #f5df89;
    color: #000;
    padding: 10px;
    text-shadow: 0px 0px 0px #000;
}
/*page */
.room_margin {
    margin-bottom: 30px;
}
.near_place_wrapper h2 {
    padding-top: 0px;
}
.place_info {
    /*padding-top: 20px;*/
}
.near_place_wrapper .title1:after {
    /*top: 70px;*/
}
img.about_hotel {
	width: 50%;
    float: left;
    margin-right: 20px;
}
.post_contenet p {
	line-height: 25px;
}
.post_contenet strong {
    color: #ab8a09;
}
.post_contenet p:first-child:first-letter { float: left; color: #c3a00f; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }
 /* pagination */
 .pagination,
.pagination-nav {
	display: inline-block;
	padding-left: 0;
	margin: 0 0 20px 0;
	border-radius: 0;
}
.pagination > li > a,
.pagination > li > span,
.pagination-nav li {
	padding: 6px 12px;
	margin:0 5px 0 0;
	line-height: 1.42857143;
	color: #616161;
	text-decoration: none;
	background:#ececec;
	border: 1px solid #ececec;
	border-radius: 2px;
}
.pagination-nav li a{
   color: #616161; 
   font-size: 18px;
}
.pagination-nav li{
    list-style: none;
    display: inline;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-nav li {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination-nav li:last-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	right: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > li > .current,
.pagination-nav li:hover,
.pagination-nav li:focus {
	color: #2b2b2b;
	background-color: #dbdbdb;
	border-color: #dbdbdb;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
	color:#fff;
}
ul.pagination li span.current{
    z-index: 3;
    color: #fff;
    border-color: #c9a205;
    background-color: #c9a205;
}
.pagination>li>a, .pagination>li>span{
    color: #9c7f08;
}

/*archive room*/
.post-type-archive-room .rooms_details_but{
    position: relative;
    float: left;
    top: 0;
    left: 0;
    border: 1px solid #dfbf3e;
    color: #dfbf3e;
}
form.Book-now-room {
	float: right;
}
.book_room {
	
	background-color: #fff;
}
/*.book_room:hover {
	background-color: #dfbf3e;
	color: #fff;
}*/
.post-type-archive-room .rooms_book_but{
    position: relative;
    top: 0;
    left: 0;
}
.post-type-archive-room .room_info {
    padding-bottom: 20px;
}
/*arcive review*/
.each_review {
    margin-bottom: 20px;
}
img.hover_effect {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
img.hover_effect:hover {
	opacity: 0.5;
}
/* Testimonials */
.testimonials h3 {
	color: #c9a205;
	font-family: 'Lato';
    font-size: 17px;
}
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0; 
    height: 0;
	right: 0;
	bottom: 0;
	content: " "; 
	display: block; 
	position: absolute;
    border-bottom: 20px solid #fff;    
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.review_info {
	text-align: right;
	margin-right: 15px;
}
.review_title, .review_location {
    display: inline-block;
    color: #ad3410;
}
.testimonials .review_date i, .review_title i {
	margin-right: 10px;
}
#testimonial_form .form-control {
    margin-bottom: 15px;
}
#testimonial_form .formButton {
    background-color: #fff;
}
#testimonial_form label {
    font-size: 1em;
}
.invalid {border: 1px solid #ff3636 !important;}
/*.post_date_wrapper {
    border: 1px solid #d2d2d2;
    color: #967a50;
    padding: 15px;
}
.post_date_wrapper .review_title,.post_date_wrapper .review_location {
    font-size: 17px; 
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
} */
.testimonials .review_date {
    text-align: right;   
    margin-bottom: 6px;
    color: #ad3410;
}
/*news and activities*/
.each_blog .post_date_wrapper {
    position: absolute;
    top: 0;  
    left: 15px;
    z-index: 9;
    background: #000;
    border: 1px solid #b8b3a1;
    color: #e0dfdf;
    text-shadow: 1px 1px 1px #000;
    padding: 7px;
}
.each_blog .entry-header{
    margin-top: 20px;
}
.blog header.entry-header h3 {
    color: #ab8a09;
    font-size: 21px;
    font-family: 'Lato';
}
/*Gallery*/
.offers-block{
    padding-bottom: 13rem;
    padding-top: 0px;
}
.itemblock-special-offers{width: 100%;}
.itemblock-special-offers>*{float: left;}
.offer{margin-bottom: 30px;}
.offer a{display: block;}
.itemblock-special-offers .offer a figure{
    position: relative;
    overflow: hidden;
    display: block;
}
.itemblock-special-offers .offer a figure img{
    /*width: 100%;
    height: 355px;*/
    vertical-align: top;
}
.itemblock-special-offers .offer a figure:before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.itemblock-special-offers .offer a figure:hover::before{
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.itemblock-special-offers .offer a figure figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    text-align: left;
    top: 83%;
}
.itemblock-special-offers .offer a figure figcaption h4{
    line-height: 1.2em;
    color: #c9a205;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0px 20px 20px;
    margin: 0px;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.9) 100%);
}
.book_special {
	text-align: right;
}
/*facilities and service*/
.gal_wrapper {
	margin-bottom: 20px;
}
.service_list a{
    position: relative;
    display: block;
    padding: 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    margin-right: 0;
    color: #bb9754;
}
.service_list i {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #c5a833;
}
.tabs-left { margin-top: 3rem; }

.nav-tabs {
  	float: left;
  	border-bottom: 0;
 }

.nav-tabs li {
    float: none;
    margin: 0;
}
.service_list a:hover {
	color: #bb9754;
}
.nav-tabs li.active {
	background-color: #c5a833;
}
.nav-tabs li.active a, .nav-tabs li.active a i {
	color: #fff !important;
}
.nav-tabs >li.active a:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #c5a833;
} 
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}

.tab-content {
  margin-left: 45px;
}
.tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
    min-height: 250px;
}
  
.active { display: block; }
.service_content ul {
	list-style: none;
}
.service_content ul li {
	line-height: 35px;
	margin-left: 25px;
}
.service_content ul li:before{
    content: "\f005";
    font-family: FontAwesome;
  	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
	color: #ad7f29;
}
/*special offer*/
.offer-image{
	margin-top: 30px; 
	position: relative;
}
.special_per {
    position: absolute;
    left: 15%;
    font-size: 27px;
    font-weight: 500;
    top: 25px;
    font-family: 'Lato';
}
.offer_wrapper:hover .icon_per{
	top: 1px;
    right: 0;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.icon_per {
    position: absolute;
    width: 100px;
    top: -30px;
    left: -5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.special_icon {
	position: absolute;
    width: 100%;
    top: 0px;
    left: -5px;
   /* -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);*/
    
}
.offer-image img.special_img{
    width: 100%;
    height: auto;
    vertical-align: top;
}
.offer-heading{
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 20px 10px 20px 30px;
    margin-left: 8.2%;
    margin-top: -11%;
    width: 80%;
    font-family: 'Lato';
}
.offer-heading h5{
    border-bottom: none;
    color: #a20404;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.2em;
    padding-bottom: 26.5px;
    display: inline-block;
    position: relative;
    font-size: 16px;
}
.offer-heading h5:after{
    content: "";
    display: inline-block;
    bottom: 10px;
    position: absolute;
    left: -2%;
    height: 1px;
    width: 70px;
    margin-left: 15px;
    background-color: #858585;
}
.offer-heading h2{
    font-size: 32px;
    color:#c9a205;
}
.offer-heading p{
    /*font-size: 19px;*/
    line-height: 2.1em;
    font-weight: 400;
    /*color: #1c1c1c;*/
}
/*.offer-heading p, .offer-heading form{padding-top: 20px;}*/
.book_room_two{float: left;}
/*contact map*/
.map{padding-top: 35px;}
.wpcf7-form-control{    background-color: white;
    font-size: 16px;}

/*nivo*/
.nivo-caption{
    position:absolute;
    left:15%; /* x offset position */
    top:30%; /* y offset position */
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    color:#FFF;
    line-height:44px;
    text-align:center;
    z-index:8;
    width: 70%;
    height: 250px;
    font-size: 50px;
    font-family:Helvetica, Arial, Sans-Serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,.8);
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 4%;
}
.slider_link {
	position:absolute;
    left:45%; /* x offset position */
    top: 50%;   
    z-index: 8;  
}
/*.slider_link a {
	color: #fff;
}*/
.nivo-caption a {
    display:inline !important;
}
.nivo-caption1 {
    margin-left:10px;
    margin-top:5px;
    width:500px;
    font-size:38px;
    line-height:40px;
    text-transform:none;
}
.nivo-caption1a {
    margin-left:10px;
    margin-top:10px;
    width:190px;
    font-size:12px;
    line-height:14px;
    text-transform:none;
}
.nivo-caption2 {
    margin-left:230px;
    margin-top:10px;
    width:350px;
}
.nivo-caption3 {
    margin-left:10px;
    margin-top:100px;
    width:350px;
}

/**************************** Hotel Price Plan Css ******************/
#sresultwrapper {
    margin: 30px -15px;
}

.price-calendar{background: #0077A2;height: 40px;padding: 10px;}
.price-calendar p{font-family: 'Raleway';}
.priceplan {
    background: #c9a205;
    height: 30px;
    padding: 10px;
}
.priceplan p {
    float: left;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    margin: -5px 0 0;
}
.priceplan .fa-calendar {
    margin-right: 12px;
}
#detailpriceplan {
    border: 1px solid #E29D02;
    clear: both;
    background: #FDFAEC;
}
#detailpriceplan .table > tbody > tr > td {
    padding: 10px 0;
}
.pricetable {
    border-collapse: separate;   
    margin-bottom:0;
}

.pricetable td:first-child {
    padding-left: 0;
}
.pricetable td {
    padding: 3px 1px 2px 0;
    margin: 0 0 3px;
    border-bottom: 1px solid #9ccada;
}
.bgcolor {
    background: #f8e7cc;
}
.dategrp .dayname, .dategrp .month, .dategrp .available, .dategrp .available_room {
    font-size: 11px;
}
.dategrp .day {
    font-size: 18px;
    color: #0077A2;
    font-weight: bold;
}
.mprice {
    background: #666;
    color: #fff;
    padding: 3px 9px;
}
.dategrp span {
    display: block;
    text-align: center;
}
/*search room*/
#roomdes h2 {
	margin-top: 0px;
	color: #af8d05;
    font-size: 25px;
    font-family: 'Lato';
}
#reservation-form input.form-control {
    width: 100% !important;
}
#reservation-form .form-inline .fa.infield {
    position: absolute;
    right: 20px;
    font-size: 14px;
    bottom: 10px;
    width: 14px;
    color: #af952f;
    margin-top: 35px;
    top: 7px;
}
#reservation-form .form-inline .form-group {
    width: 100%;
}
#reservation-form .form-inline select.form-control {
    width: 100%;
}
#btn_room_search {
    background: #c9a205;
    border: 1px solid #c9a205;
    padding: 10px 12px;
    border-radius: 0;
    color: #FFF;
    text-shadow: 1px 0 0 #000;
    font-weight: 400;
    /* border-radius: 5px; */
    font-size: 14px;
}
/*booking detail*/
#wrapper {
    -moz-box-shadow:0px 0px 3px #E29D02;
    -webkit-box-shadow:0px 0px 3px #E29D02;
    box-shadow:0px 0px 3px #E29D02;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    /*	border:2px solid #fff;
            background-color:#f9f9f9;*/
    overflow:hidden;
}
.customer_details {
    background: #F6EEFF;
    padding: 10px;
    height: 165px;
}
.customer_details {
    background: #f9f9f9;
    padding: 10px;
    height: 165px;
}
#email_addr_existing {
    background-image: url('../images/mail.png');
    background-repeat: no-repeat;
    width: 45%;
    height: 35px;
    border: 1px solid #E29D02;
    background-position: 100%;
}
#btn_exisitng_cust {
    float: left;
    border: 1px solid #c9a205 !important;
    background: #c9a205;
    color: #fff !important;
    border-radius: 5px;
    padding: 8px;
    margin-top: 0 !important;
    margin-left: 13%;
    width: 25%;
}
.email_text{
    padding: 7% 0;
    text-align: right;
    font-weight: bold;
}
.eadd {
    padding: 6% 0;
    margin-left: 10px;
}

#registerButton2 {
    float:left;
    background: #c9a205;
    color: #fff !important; 
    padding: 8px; 
    border: 1px solid #c9a205;
}
.newcustomer_datas {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}
.newcustomer_datas .cus_label {
    font-weight: bold;
}
/*widget*/
aside.widget {
	margin-bottom: 30px;
}
aside.widget ul {
    list-style: none;
    margin-top: 30px;
}
aside.widget ul li {
    min-height: 35px;
    border-bottom: 1px solid #dcce98;
    padding: 10px;
    margin-bottom: 10px;
    /*margin-left: 15px;*/
}
aside.widget ul li a{
	display: inline-block;
    font-size: 17px;
    color: #846d12;
}
aside.widget ul li:before{
	content: "\f073";
    font-family: FontAwesome;
  	display: inline-block;
	width: 1.3em; /* same as padding-left set on li */
	color: #ad7f29;
}
aside.widget span.post-date {
    font-size: 13px;
    display: block;
    padding-left: 25px;
}

/*404 and search page*/
.search_form ul {
    list-style: none;
}
.search_form ul li {
    clear: both;
    list-style: none outside none;
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 40px;
}
.input-search {
    padding: 9px;
}
.search_form label {
    display: inline-block;
    float: left;
    width: 210px;
    font-weight: normal;
}
/*terms and conditions*/
.terms_condition h3 {
    color: #a20404;
    font-size: 18px;
    font-weight: 600;
}
/*footer*/
.tripadvisor_widget {
    border-right: 1px solid #cccccc;
}

.tripadvisor_widget> div {
    float: right;
}
.social_links {
    margin-top: 10px;
}
.social_links a {
    display: block;
    text-align: left;
    padding-bottom: 0px;
}
/*thank*/
.page-h2 {
    color: #bb9754;
    font-family: 'Lato';
}